/* Small Screen <= 1328px  */
@media (max-width: 83em) {
  .header-container {
    max-width: 1100px;
  }

  .hero-container,
  .container {
    max-width: 1000px;
  }

  .hero-form {
    width: 80%;
  }

  .ammenity {
    width: 60%;
  }

  .rooms {
    gap: 4.8rem;
  }

  .section-link:link,
  .section-link:visited {
    font-size: 2rem;
  }
}

/* Landscaped Tablet <= 1120px  */
@media (max-width: 70em) {
  .header-container {
    max-width: 900px;
    padding: 0 1.6rem;
  }

  .hero-container,
  .container {
    max-width: 900px;
    padding: 0 2.4rem;
  }

  .hero-form {
    width: 90%;
  }

  .featured-grid {
    grid-gap: 2.4rem;
  }

  .reviews {
    gap: 2.4rem;
  }

  .review {
    gap: 1.6rem;
  }

  .review-img {
    height: 6rem;
    width: 6rem;
    grid-row: 1;
  }

  .review-name {
    grid-column: 1 / span 2;
  }

  .ammenity {
    width: 70%;
  }

  .room-body {
    padding: 1.2rem 2.4rem;
  }

  .room-title {
    margin-bottom: 1.2rem;
  }

  .room-features {
    margin-left: 1.2rem;
  }

  .gallery-image {
    height: 13rem;
  }
}

/* Tablet <= 912px  */
@media (max-width: 57em) {
  .hero-heading {
    font-size: 4.8rem;
  }

  .hero-subheading {
    font-size: 2.4rem;
  }

  .hero-grid {
    grid-gap: 1.2rem;
  }

  .hero-form {
    width: 100%;
  }

  .booking--container {
    padding: 0;
  }

  .booking--box {
    padding: 0.8rem 0;
  }

  .booking--text {
    font-size: 2.4rem;
    margin-bottom: 1.2rem;
  }

  .booking--day {
    margin-bottom: 0;
  }

  .intro-text {
    width: 100%;
  }

  .featured-grid {
    grid-template-columns: 1.3fr 2fr;
  }

  .reviews {
    grid-template-columns: 1fr;
  }

  .review-img {
    height: 8rem;
    width: 8rem;
    grid-row: 1 / span 2;
  }

  .review-name {
    grid-column: 2;
  }

  .ammenity {
    width: 82%;
  }

  .rooms {
    grid-template-columns: 1fr 1fr;
    gap: 7.2rem;
  }

  .room:nth-child(3) {
    grid-column: 1 / span 2;
    width: 45%;
    justify-self: center;
  }
}

/* Big Phones <= 702px  */
@media (max-width: 44em) {
  .btn,
  .btn:link,
  .btn:visited {
    font-size: 2rem;
    padding: 1.2rem 2.4rem;
  }

  .section-heading {
    font-size: 3.8rem;
  }

  .section-subheading {
    font-size: 3rem;
  }

  .header-nav {
    display: none;
  }

  .hero-grid {
    grid-template-columns: 1fr;
    grid-gap: 4.8rem;
  }

  .hero-text {
    text-align: center;
    text-transform: capitalize;
  }

  .hero-heading {
    font-size: 6rem;
  }

  .hero-form {
    align-self: start;
    width: 80%;
  }

  .booking--text {
    font-size: 3.2rem;
  }

  .featured-section {
    padding-bottom: 4.8rem;
  }

  .featured-grid {
    grid-template-columns: 1fr;
    grid-gap: 4.8rem;
  }

  .rating {
    border-right: none;
    border-bottom: 1px solid var(--primary);
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2.4rem;
    align-items: center;
    justify-items: center;
    padding-bottom: 4.8rem;
  }

  .rating h3 {
    grid-column: 1 / span 2;
  }

  .rating-star {
    margin-bottom: 0;
  }

  .review-text {
    font-size: 1.4rem;
  }

  .review-name {
    font-size: 1.2rem;
  }

  .ammenities {
    grid-template-columns: repeat(2, 1fr);
    gap: 3.2rem;
  }

  .ammenity:nth-child(odd) {
    justify-self: end;
  }

  .ammenity:nth-child(even) {
    justify-self: start;
  }

  .rooms {
    grid-template-columns: 1fr;
    gap: 2.4rem;
  }

  .room,
  .room:nth-child(3) {
    width: 65%;
    justify-self: center;
    grid-column: unset;
  }

  .gallery-outer {
    grid-template-columns: 1fr;
    row-gap: 4.8rem;
  }

  .gallery-image {
    height: 16rem;
  }

  .footer-grid {
    grid-template-columns: 1fr 1fr;
  }

  .footer-item:last-child {
    grid-column: 1 / span 2;
    justify-self: center;
  }
}

/* Phones <= 512px  */
@media (max-width: 32em) {
  html {
    font-size: 45%;
  }

  .header {
    height: 60px;
  }

  .section-heading {
    font-size: 4.8rem;
  }

  .hero-subheading {
    font-size: 3rem;
  }

  .intro-text {
    font-size: 2rem;
  }

  .featured-section .section-heading {
    display: none;
  }

  .featured-section .container::before {
    display: block;
    content: "see what they say";
    text-transform: uppercase;
    text-align: center;
    font-size: 4.8rem;
    font-weight: 300;
    margin-bottom: 4.8rem;
  }

  .featured-grid {
    gap: 2.4rem;
  }

  .rating {
    padding-bottom: 2.4rem;
  }

  .rating-text,
  .review-text {
    font-size: 1.6rem;
  }

  .review-name {
    font-size: 1.4rem;
  }
}
