/* Small Screen <= 1328px  */
@media (max-width: 83em) {
  .header-container {
    max-width: 1100px;
  }

  .hero-container,
  .container {
    max-width: 1000px;
  }

  .hero-form {
    width: 80%;
  }

  .ammenity {
    width: 60%;
  }

  .rooms {
    gap: 4.8rem;
  }

  .section-link:link,
  .section-link:visited {
    font-size: 2rem;
  }
}

/* Landscaped Tablet <= 1120px  */
@media (max-width: 70em) {
  .header-container {
    max-width: 900px;
    padding: 0 1.6rem;
  }

  .hero-container,
  .container {
    max-width: 900px;
    padding: 0 2.4rem;
  }

  .hero-form {
    width: 90%;
  }

  .featured-grid {
    grid-gap: 2.4rem;
  }

  .reviews {
    gap: 2.4rem;
  }

  .review {
    gap: 1.6rem;
  }

  .review-img {
    height: 6rem;
    width: 6rem;
    grid-row: 1;
  }

  .review-name {
    grid-column: 1 / span 2;
  }

  .ammenity {
    width: 70%;
  }

  .room-body {
    padding: 1.2rem 2.4rem;
  }

  .room-title {
    margin-bottom: 1.2rem;
  }

  .room-features {
    margin-left: 1.2rem;
  }

  .gallery-image {
    height: 13rem;
  }
}

/* Tablet <= 912px  */
@media (max-width: 57em) {
  .hero-heading {
    font-size: 4.8rem;
  }

  .hero-subheading {
    font-size: 2.4rem;
  }

  .hero-grid {
    grid-gap: 1.2rem;
  }

  .hero-form {
    width: 100%;
  }
}
